MarketingDepartment/MarketingAnalysisService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MarketingAnalysisService"
    targetNamespace="http://example.com/marketinganalysis"
    xmlns:tns="http://example.com/marketinganalysis"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="http://example.com/marketinganalysis">
            <xsd:element name="analyzeCampaignRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="campaignId" type="xsd:string"/>
                        <xsd:element name="advertisementTitle" type="xsd:string"/>
                        <xsd:element name="advertisementContent" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="analyzeCampaignResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="analysisResult" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="analyzeCampaignRequest">
        <part name="parameters" element="tns:analyzeCampaignRequest"/>
    </message>

    <message name="analyzeCampaignResponse">
        <part name="parameters" element="tns:analyzeCampaignResponse"/>
    </message>

    <portType name="MarketingAnalysisServicePortType">
        <operation name="analyzeCampaign">
            <input message="tns:analyzeCampaignRequest"/>
            <output message="tns:analyzeCampaignResponse"/>
        </operation>
    </portType>

    <binding name="MarketingAnalysisServiceBinding" type="tns:MarketingAnalysisServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="analyzeCampaign">
            <soap:operation soapAction="http://example.com/marketinganalysis/analyzeCampaign"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="MarketingAnalysisService">
        <documentation>Marketing Analysis Service</documentation>
        <port name="MarketingAnalysisServicePort" binding="tns:MarketingAnalysisServiceBinding">
            <soap:address location="http://localhost:8082/marketingAnalysisService"/>
        </port>
    </service>
</definitions>